<footer>
    <div id="foot-nav">
        <p id="author">©DEVANSH VERMA. All Rights Reserved</p>
        <ul id="links">
            <li><a href="http://localhost:3000">HOME</a></li>
            <li><a href="http://localhost:3000/users/profile">PROFILE</a></li>
        </ul>
        
    </div>
</footer>