<form action="/users/resetsuccess" method="POST">
    
    <input type="password" name="password" placeholder="Enter New Password" required>
    <input type="hidden" name="userID" value="<%=user._id%>">
    <input type="password" name="confirmpassword" placeholder="Confirm New Password" required>
    <input type="submit">
</form>